.project-page{
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
.navigation{
    background-color: #282B24;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.logo-navigation{
    font-size: 70px;
    font-family: "Magic Retro-Regular";
    color:#6C7A57;

    padding-top: 25px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 865px;
}
.aboutme-navigation{
    font-size: 36px;
    color:#ffffff;

    padding-top: 25px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.resume-navigation{
    font-size: 36px;
    color:#ffffff;

    padding-top: 25px;
    padding-bottom: 10px;
    padding-left: 110px;
    padding-right: 10px;
}
.title{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

    font-size: 150px;
    font-family:"mariana-Regular";
}
.title-image{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.overview{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    background-color: #6C7A57;
}
.overview-title{
    display: grid;
    margin-left: auto;
    margin-right: auto;


    font-size: 80px;
    font-family: "mariana-Regular";
}
.overview-1{
    font-size: 18px;

    padding-top: 17px;
    padding-bottom: 0px;
    padding-left: 1px;
    padding-right: 1px;
}
.overview-2{
    font-size: 18px;

    padding-top: 17px;
    padding-bottom: 0px;
    padding-left: 1px;
    padding-right: 1px;
}
.overview-3{
    font-size: 18px;

    padding-top: 17px;
    padding-bottom: 0px;
    padding-left: 1px;
    padding-right: 1px;
}
.research{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    background-color: #282B24;
}
.research-title{
    font-size: 80px;
    font-family: "mariana-Regular";
    color:#ffffff;

    padding-top: 17px;
    padding-bottom: 0px;
    padding-left: 1px;
    padding-right: 1px;
}
.research-1{
    color:#ffffff;
 

}
.research-2{
    color:#ffffff;

}
.branding{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.branding-title{
    font-size: 80px;
    font-family: "mariana-Regular";
}
.userjourney-uidesign{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.userjourney-title{
    font-size: 80px;
    font-family: "mariana-Regular";
}
.project-takeaways{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    background-color: #6C7A57;
}
.project-takeaways-title{
    font-size: 80px;
    font-family: "mariana-Regular";
}
.back-to-top{
    font-size: 40px;
    font-family: ;
}

